				<!-- Footer -->
                <footer id="footer">
                    <section>
                        <h2>Want To Invest?</h2>
                        <p>Attention investors! Don't miss your chance to be part of the next big thing in Wi-Fi security. Bloxlox is revolutionizing the industry with groundbreaking technology and unparalleled innovation. Join us now to secure your stake in the future of networking. Contact us today to learn more and seize this incredible opportunity before it's gone!</p>
                        <ul class="actions">
                            <li><a href="generic.html" class="button">Learn More</a></li>
                        </ul>
                    </section>
                    <section>
                        <h2>About The Creator</h2>
                        <dl class="alt">
                            <dt>Address</dt>
                            <dd>Residing In &bull; Co. Meath &bull; Ireland</dd>
                            <dt>Phone</dt>
                            <dd>00353 86 4000567</dd>
                            <dt>Email</dt>
                            <dd><a href="#">me@liammccabe.ie</a></dd>
                        </dl>
                        <ul class="icons">
                            <li style="text-align:center;"><a href="#" class="fa fa-user-o"><span class="label"><br>Twitter</span></a></li>
                            <li style="text-align:center;"><a href="#" class="fa fa-user-o"><span class="label"><br>Facebook</span></a></li>
                            <li style="text-align:center;"><a href="#" class="fa fa-user-o"><span class="label"><br>Instagram</span></a></li>
                            <li style="text-align:center;"><a href="#" class="fa fa-user-o"><span class="label"><br>GitHub</span></a></li>
                            <li style="text-align:center;"><a href="#" class="fa fa-user-o"><span class="label"><br>Dribbble</span></a></li>
                        </ul>
                    </section>
                    <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                   
               

               
               
                </footer>

        </div>
        <% if (typeof cookies === 'undefined' || cookies.cookie_consent !== '1') { %>
        <div class="cookie-policy">
            <p style="width:80%; margin:auto;">This website uses cookies to enhance your browsing experience and provide personalized content and advertisements. By continuing to use this site, you consent to the use of cookies in accordance with our <a href="/cookie-policy">Cookie Policy</a>. For more information on how we use cookies and how you can manage your preferences, please see our <a href="/privacy-policy">Privacy Policy</a>.</p>
            <form action="/accept-cookies" method="post" >
            
            <input type="submit" value="Accept" class="nav-button" style="width: 200px;margin: auto;background-color: blue;">
        </form>
        </div>
        <% } %>

    <!-- Scripts -->
        <script src="/jquery.min.js"></script>
        <script src="/jquery.scrollex.min.js"></script>
        <script src="/jquery.scrolly.min.js"></script>
        <script src="/browser.min.js"></script>
        <script src="/breakpoints.min.js"></script>
        <script src="/util.js"></script>
        <script src="/main.js"></script>

</body>
</html>


