		<!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><a href="/"><img src="bloxloxlogo.png" alt="bloxlox logo" /></a></span>
            <h1>Bloxlox</h1>
            <p>Revolutionising Wi-Fi Security<br />
            Taking Wifi Security To A Whole New Level By Making Passwords Un-Stealable</p>
      
        </header>