<%- include('../partials/header') -%>
				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
								<h2>Any Queries Or Questions</h2>
								<p>For all inquiries and contact requests, please reach out via email to me@liammccabe.ie. Whether you have questions, feedback, or partnership opportunities, we welcome your messages and will respond promptly to ensure your needs are addressed effectively. Thank you for choosing to connect with us via email</p>
								
								
							</section>

					</div>

					<%- include('../partials/footer') -%>