<%- include('../partials/header') -%>
<%- include('../partials/scrollnav') -%>
				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Revolutionizing Wi-Fi</h2>
										</header>
										<p style="text-align:justify;">
											Bloxlox is at the forefront of revolutionizing Wi-Fi security with its groundbreaking technology. Our mission is to take Wi-Fi security to a whole new level by making passwords un-stealable. Through innovative solutions, we are empowering users to safeguard their digital lives and protect their networks from unauthorized access. With Bloxlox, users can bid farewell to traditional password-based authentication and embrace a secure, seamless, and hassle-free Wi-Fi experience. Join us as we pave the way for a safer digital future.
										</p>
										<ul class="actions">
											<li><a href="generic.html" class="button">Learn More</a></li>
										</ul>
									</div>
									<span class="image"><img src="/bloxloxwifihomepage.jpg" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Cutting Edge Features</h2>
								</header>
								<ul class="features">
									<li>
										<img src="/passwordhomepagebloxlox.jpg" style="width:100%" class="icon solid major style1 fa-code"/>
										
										<h3>Blockchain Authentication</h3>
										<p style="text-align:justify;">Bloxlox offers a range of cutting-edge features designed to enhance Wi-Fi security and streamline user experience. Our flagship feature, Blockchain Password Authentication, replaces traditional password-based authentication methods with a secure and intuitive system. By leveraging blockchain technology, Bloxlox ensures that Wi-Fi passwords are un-stealable, providing users with peace of mind and robust protection against unauthorized access.</p>
									</li>
									<li>
										<img src="/bloxloxiothomepage.jpg" style="width:100%" class="icon solid major style1 fa-code"/>
										<h3>IoT Security</h3>
										<p style="text-align:justify;">Bloxlox's innovative approach to Wi-Fi security takes the burden off IoT devices by eliminating the need for them to compute complex passwords. With Blockchain Password Authentication, the responsibility for generating and managing passwords is shifted away from individual devices to Bloxlox's centralized system. This not only simplifies the authentication process for IoT devices but also reduces their computational workload.</p>
									</li>
									<li>
										<img src="/securehomepagebloxlox.jpg" style="width:100%" class="icon solid major style1 fa-code"/>
										<h3>Seamless Device Detection</h3>
										<p style="text-align:justify;">Whether you're a tech enthusiast or a casual user, Bloxlox is here to revolutionize your Wi-Fi security and elevate your digital lifestyle. Similar to this, BloxLox boasts seamless device detection, enabling authorized devices to effortlessly connect to the network without manual entry of passwords. Real-time monitoring capabilities allow users to keep track of connected devices and manage network access easily.</p>
									</li>
								</ul>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>Groundbreaking Progress To Date</h2>
									<p>Groundbreaking progress with Bloxlox! Transforming Wi-Fi security with innovative blockchain authentication, simplifying password management, and reducing cyber threats. Experience the future of secure networking today!</p>
								</header>
								<ul class="statistics">
									<li class="style1">
										<span class="fa fa-flag" style="margin-bottom:15px;"></span>
										<strong>U.S.</strong> Patent Granted
									</li>
									<li class="style2">
										<span class="fa fa-folder-open-o" style="margin-bottom:15px;"></span>
										<strong>U.K.</strong> Patent Granted
									</li>
									<li class="style3">
										<span class="fa fa-globe" style="margin-bottom:15px;"></span>
										<strong>European</strong> Patent Granted
									</li>
									<li class="style4">
										<span class="fa fa-bell-slash-o" style="margin-bottom:15px;"></span>
										<strong>100%</strong> Security
									</li>
									<li class="style5">
										<span class="fa fa-unlock" style="margin-bottom:15px;"></span>
										<strong>Unlimited</strong> Potential
									</li>
								</ul>
								<p class="content">Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est efficitur vestibulum. Integer eget purus nec nulla mattis et accumsan ut magna libero. Morbi auctor iaculis porttitor. Sed ut magna ac risus et hendrerit scelerisque. Praesent eleifend lacus in lectus aliquam porta. Cras eu ornare dui curabitur lacinia.</p>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>

						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Unlock the Future: Safeguard Your Network with Bloxlox Today!</h2>
									<p>In a world where cyber threats loom large and traditional security measures fall short, the future has arrived with Bloxlox. Our groundbreaking technology represents the pinnacle of Wi-Fi security, offering a revolutionary solution to protect your network like never before. With innovative blockchain authentication, Bloxlox simplifies password management and eliminates the vulnerabilities of traditional methods. It's time to embrace the future of secure networking with Bloxlox and safeguard your digital assets with confidence. Don't wait for tomorrow; protect your network today with Bloxlox.</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button primary">Learn More</a></li>
										
									</ul>
								</footer>
							</section>

					</div>







<%- include('../partials/footer') -%>