<%- include('../partials/header') -%>
				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
								<h2>OOPS</h2>
								<p>It Looks Like The Page You Are Looking For Is Not Here. Keep Searching We Say !!!!</p>
								
								
							</section>

					</div>

					<%- include('../partials/footer') -%>